.idea/
*.iml
*.iws
*.ipr

backend/target/
backend/.mvn/
backend/mvnw
backend/mvnw.cmd

frontend/node_modules/
frontend/dist/

node_modules/
package.json
package-lock.json
start.sh

.DS_Store
*.log
start.sh
*.log
